@model MvcTekrar.Models.Bolum

<h2> Yeni Bölüm EKle</h2>

<form asp-action="Ekle" method="post">

    <div class="form-group" style="margin-bottom:15px;">
        <label class="form-label">Bolum Adı</label>
        <input asp-for="Ad"  class="form-control" placeholder="Bölüm Adı Giriniz" required />
    </div>


    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary" style="margin-left:10px;">İptal et ve Listeye dön</a>
</form>